<!doctype html>
<html>
<head>

</head>

<body>
<h1>Change password</h1>
<form method='post' action='/changePassword'>
<label>New Password</label>
<input type="text" name="password"/>
<input type="hidden" name="token" value="<%=token%>"/>
<br>
<input type="submit" value="submit" />
</form>
</body>
</html>