<!doctype html>
<html>
<head>

</head>

<body>
<%if(message){%>
<%=message%>
<%}%>
<form method='post' action='/forgot'>
<label>Email</label>
<input type="text" name="email"/>
<br>
<input type="submit" value="submit">
</form>
</body>
</html>